# Turn on URL rewriting
RewriteEngine On

# Turn rewriting on
Options +FollowSymLinks

# Installation directory
RewriteBase /

# Redirect requests to index.php
RewriteCond %{REQUEST_URI} !=index.php
RewriteCond %{REQUEST_URI} !.*\.(png|jpg|jpeg|gif|ico|bmp|svg|webp|avi|m4v|mov|mp4|mpeg|ogv|qt|webm|wmv|aac|m4a|mp3|oga|ogg|wav|wave|css|js|ts)$ [NC]
RewriteRule .* index.php