# Turn on URL rewriting
RewriteEngine On

# Turn rewriting on
Options +FollowSymLinks

# Installation directory
RewriteBase /calabash/

# Redirect requests to index.php
RewriteCond %{REQUEST_URI} !=/calabash/index.php
RewriteCond %{REQUEST_URI} !.*\.(png|jpg|jpeg|gif|ico|css|js)$ [NC]
RewriteRule .* /calabash/index.php